beautifulsoup4==4.12.3
blessed==1.19.0
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.0.3
contextlib2==21.6.0
distlib==0.3.5
dlib==19.24.0
exceptiongroup==1.2.0
execnet==2.0.2
filelock==3.7.1
idna==3.7
iniconfig==2.0.0
inquirer==2.7.0
mock==5.1.0
numpy==1.23.1
packaging==23.2
path==16.10.0
path.py==12.5.0
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.4.0
pytest==8.0.0
python-editor==1.0.4
readchar==2.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.6
termcolor==2.4.0
tomli==2.0.1
urllib3==2.2.2
virtualenv==20.15.1
wcwidth==0.2.5
